{% extends "todo/index.html" %}

{% block title%}Your To-Do List{% endblock title%}

{% block formaction %}{% url 'view-list' pk=list.pk %}{% endblock formaction %}

{% block lowercontent %}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <ul class="list-group list-group-flush" id="todo-list">
            {% for item in items %}
            <li class="list-group-item{% if item == form.duplicate %} list-group-item-danger duplicate{% endif %}">
                {{ forloop.counter }}. {{ item.content }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock lowercontent %}
<!-- 
vim:ft=htmldjango
-->
